body{background:#d3b19d url(http://gui.sunyocc.edu/sitelets/celebrating50years/images/bg.jpg) no-repeat top center;}
#main h2, h2#menutitle{text-indent:-9999em; display:block; background:transparent url(http://gui.sunyocc.edu/sitelets/celebrating50years/images/h2.png) no-repeat top left; margin-left:200px; width:766px; padding-bottom:3em;}
a {color:#C5A98E;}
/* HIDE STUFF */
#globalnav, #aside {display:none;}
#main {background:transparent;border:none;box-shadow:none;}
#section {font-family:garamond;}
#section.hasmenu,section.hasmenu,.section.hasmenu{float:none;width:970px; margin-left:-5px; padding:0;}
/* VERTY & HORZY NAVS */
.section {padding:40px 0 40px 0;}
.nav {width:100%; padding:0; height:60px; border:2px solid #C2B598; box-shadow:0 2px 5px #222; background:#ffe; background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#E4D6B8)); text-align:center; margin-bottom:1.5em; border-radius:10px; -moz-border-radius:10px;}
.nav ul {margin:0; padding:0;}
.nav li {border-bottom:0px solid #ccc; list-style:none; margin:0; padding:0; display:inline-block;}
.ie7 .nav li {display:block; float:left; width:auto;}
.nav a {color:#222; display:block; padding:15px; line-height:1.75em;}
.nav a:hover {text-decoration:none; background:#574C43; background: -webkit-gradient(linear, left top, left bottom, from(#61564C), to(#3D3934)); color:#fff; text-shadow:0 0 3px #fc0; -moz-text-shadow:0 0 3px #fc0;}
.nav.flat {width:100%; position:fixed; padding:0; background:#000; background:rgba(0,0,0,.8); border:0; border-radius:0; -moz-border-radius:0;}
.nav.flat ul {height:auto; width:970px; padding:10px 0 10px 0; margin:0 auto;}
.nav.flat li {display:inline-block; margin:0 5px 0 0; padding:0; border:0; line-height:1em; text-align:center;}
.nav.flat a {display:block; color:#ffe;}
.nav.flat a:hover {color:#fc0; text-decoration:none; background:transparent;}
.nav.flat a.current {color:#Fc0; text-shadow:0 0px 5px #FFF; -moz-text-shadow:0 0 5px #fff; background:none;}
.slider {width:950px; overflow:hidden;}
.slides {width:10000px; overflow:hidden;}
.slide {width:950px; float:left; height:auto;}
.slidernav {list-style:none; padding:0; font-size:1.25em; font-style:italic; margin:0;}
.slidernav li {display:inline-block; padding:0;}
.ie7 .slidernav li {display:block; float:left;}
.slidernav a {color:#ffe; background:#666; border:1px solid #666; border-radius:50px; -moz-border-radius:50px; display:block; padding:0 30px 0 30px; margin:10px 5px 1em 5px; box-shadow:0 2px 10px #888; -moz-box-shadow:0 2px 10px #888;}
.slidernav a:hover {text-decoration:none; border-color:#ffe;}
.slidernav a.current {color:#222; border-color:#fc0; background:#ecd773;}
/* TYPOGRAPHY */
#main h3 {font-weight:bold; font-style:italic; font-size:2em; margin:0 0 .5em 0;}
.ie {font-size:90%;}
.ie h3 {font-size:1.75em;}
#social h3, #thanks h3 {text-shadow:0 2px 2px #222; -moz-text-shadow:0 2px 2px #222;}
#timeline h3 {color:#333;}
.intro h3 {color:#ffe; text-shadow:0 2px 5px #222; -moz-text-shadow:0 2px 5px #222; font-weight:bold; font-style:italic; font-size:2.25em;}
.intro p {height:400px; padding:10px; font-style:italic; font-size:1.35em; color:#ffe; text-shadow:0 2px 3px #000; -moz-text-shadow:0 2px 3px #000; background:#000; background:rgba(0,0,0,.8); border-radius:10px 0 0 10px; -moz-border-radius:10px 0 0 10px; box-shadow:0 2px 4px #222; -moz-box-shadow:0 2px 4px #222;}
.twitter {background:url(http://gui.sunyocc.edu/sitelets/celebrating50years/images/twitterbird.png) no-repeat 0 20px;}
#main .twitter h3 {margin:0 0 .5em 60px;}
#thanks {border-radius:0 0 10px 10px; -moz-border-radius:0 0 10px 10px;}
.calendar, .news, .twitter {margin-top:1.75em; border-top:1px solid #666; padding-top:1.5em;}
.news a {color:#fff;}
.calendar strong, .news a strong {color:#C5A98E;}
.join {height:3.75em; border:1px solid #666; padding:1.75em 0 0 0; margin-bottom:1.75em; background:#003151; border-radius:10px;}
.join h4 {margin-top:5px;}
#thanks ul {list-style:none; padding:0;}
#thanks li {border-top:1px dashed #666; padding-top:.25em;}
#thanks hr {border:1px solid #444; margin-bottom:2em;}
#thanks h4 {font-size:1.5em;}
#sixties h3, #seventies h3, #eighties h3, #nineties h3, #twothousands h3, #tens h3 {display:none;}
#sixties{background:#fff url(http://gui.sunyocc.edu/sitelets/celebrating50years/images/60s.jpg) no-repeat top left;}
#sixties ul, #seventies ul, #eighties ul, #nineties ul, #twothousands ul, #tens ul {margin:250px 2em 75px 275px;}
#seventies{background:#fff url(http://gui.sunyocc.edu/sitelets/celebrating50years/images/70s.jpg) no-repeat top left;}
#seventies ul {margin-top:225px;}
#eighties{background:#fff url(http://gui.sunyocc.edu/sitelets/celebrating50years/images/80s.jpg) no-repeat top left;}
#eighties ul {margin-bottom:150px;}
#nineties{background:#fff url(http://gui.sunyocc.edu/sitelets/celebrating50years/images/90s.jpg) no-repeat top left;}
#nineties ul {margin-top:200px;}
#twothousands{background:#fff url(http://gui.sunyocc.edu/sitelets/celebrating50years/images/00s.jpg) no-repeat top left;}
#twothousands ul {margin-left:300px; margin-top:225px;}
#tens{background:#fff url(http://gui.sunyocc.edu/sitelets/celebrating50years/images/10s.jpg) no-repeat top left;}
#give, #book {border:3px solid #666; border-width:3px 0 3px 0;}
#book {border-color:#fc0;}